body {
    background-color: gray;
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

h1 {
    color: darkblue;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;

}

img {
    border: 4px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

th {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 8px;
}

.veerg {
    width: 45%;
}

a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}